.env
ecommerce
ecommerce.pub

data
clickhouse_data
metabase_db_data
superset
superset_home

venv/
__pycache__/
.ipynb_checkpoints
notebooks/catboost_info/
hdbscan_cache/

raw_csv/
new_tables/

.vscode/