services:
  clickhouse-server:
    image: clickhouse/clickhouse-server
    container_name: clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - data:/var/lib/clickhouse/user_files/data
    networks:
      - clickhouse-net
    environment:
      - CLICKHOUSE_USER=default
      - CLICKHOUSE_PASSWORD=default
      - CLICKHOUSE_MAX_MEMORY_USAGE=8589934592
    healthcheck:
      test: ["CMD", "/usr/bin/clickhouse-client", "--query", "SELECT 1"]
      interval: 1m
      timeout: 30s
      retries: 5
  
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3000:3000"
    environment:
      - MB_DB_TYPE=postgres
      - MB_DB_DBNAME=metabasedb
      - MB_DB_PORT=5432  
      - MB_DB_USER=postgres
      - MB_DB_PASS=postgres
      - MB_DB_HOST=metabase_db
    networks:
      - clickhouse-net
  
  metabase_db:
    image: postgres:16
    container_name: metabase_db
    volumes:
      - ./metabase_db_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=metabasedb
    networks:
      - clickhouse-net
  # superset:
  #   build: 
  #     context: ./superset
  #     dockerfile: Dockerfile
  #   container_name: superset
  #   volumes:
  #     - ./superset_home:/app/superset_home
  #   environment:
  #     - DATABASE_DB=superset
  #     - DATABASE_HOST=superset_db
  #     - DATABASE_PORT=5432
  #     - DATABASE_USER=postgres
  #     - DATABASE_PASSWORD=postgres
  #   command: >
  #     sh -c "superset fab create-admin --username admin --password admin --firstname admin --lastname admin --email admin
  #     && superset db upgrade
  #     && superset init
  #     && superset run -h 0.0.0.0 -p 8088
  #     "
  #   ports:
  #     - "8088:8088"
  #   networks:
  #     - clickhouse-net
  #   depends_on:
  #     superset_db:
  #       condition: service_started
  #     clickhouse-server:
  #       condition: service_healthy
  
  # superset_db:
  #   image: postgres:alpine
  #   container_name: superset_db
  #   environment:
  #     POSTGRES_USER: postgres
  #     POSTGRES_PASSWORD: postgres
  #     POSTGRES_DB: superset
  #   volumes:
  #     - superset_db_data:/var/lib/postgresql/data
  #   ports:
  #     - "5000:5432"
  #   networks:
  #     - clickhouse-net
  
  # superset_init:
  #   build: 
  #     context: ./superset
  #     dockerfile: Dockerfile
  #   container_name: superset_init
  #   environment:
  #     - SUPERSET_SQLALCHEMY_DATABASE_URI=postgresql://postgres:postgres@superset_db:5432/superset
  #   command: >
  #     sh -c "
  #     superset fab create-admin --username admin --password admin --firstname admin --lastname admin --email admin
  #     && superset db upgrade
  #     && superset init
  #     "
  #   depends_on:
  #     - superset_db
  #   networks:
  #     - clickhouse-net
  
networks:
  clickhouse-net:
    name: clickhouse-net
    driver: bridge

volumes:
  clickhouse_data:
    name: clickhouse_data
  data:
    name: data
  superset_db_data: